@import "tailwindcss";

@layer base {
  :root {
    --scroll-offset: 0;
  }

  :target {
    scroll-margin-block-start: var(--scroll-offset);
  }

  body {
    font-family: "\"Noto Sans JP\"", "\"游ゴシック\"", "\"Yu Gothic\"", sans-serif;
  }
}

@layer layout {
  .header {
    @apply fixed top-0 z-1000 w-1/1 h-20 lg:h-24 bg-white lg:bg-transparent hover:bg-white text-black lg:text-white hover:text-black transition-all duration-300;
  }

  .header:not(.is-active) {
    @apply h-20 bg-white text-black text-sm;
  }

  .header__inner {
    @apply max-w-6xl h-1/1 mx-auto px-6;
  }

  .nav {
    @apply flex flex-wrap items-center justify-between h-1/1;
  }

  .primary-menu, .social-menu {
    @apply flex flex-wrap items-center justify-between gap-9;
  }

  .primary-menu__item {
    @apply text-[1em] capitalize;

    a {
      @apply hover:text-sky-500;
    }
  }

  .primary-menu__item.is-current {
    @apply font-bold;
  }

  .social-menu__item {
    a {
      @apply hover:text-sky-500;
    }
    
    svg {
      @apply w-[2em] fill-current;
    }
  }

  .footer {
    @apply h-72 bg-sky-500 text-white;
  }

  .footer__inner {
    @apply flex flex-wrap items-center justify-center gap-6 max-w-6xl h-1/1 mx-auto px-6 py-24;
  }
}

@layer project {
  .sitebrand {
    @apply w-[5em] lg:w-[6em];
  }

  .hero {
    @apply relative flex items-center justify-center h-screen text-center;
  }

  .hero__content {
    @apply relative z-10;

    p {
      @apply text-white text-2xl/[1.8];
    }
  }

  .hero__image {
    @apply absolute w-1/1 h-1/1 bg-[url(/images/sampleImage.jpg)] bg-center bg-cover bg-fixed blur-[1px];
  }

  .section {
    @apply h-screen flex items-center justify-center;
  }

  .section:nth-child(2n - 1) {
    @apply bg-gray-500 text-white;
  }

  .section__heading {
    @apply text-2xl capitalize;
  }

  .footer-link {
    @apply inline-flex flex-wrap items-center justify-center gap-3 text-sm;

    svg {
      @apply w-9 fill-current;
    }
  }
}

@layer components {
  .button {
    @apply inline-flex items-center justify-center rounded-md transition-all duration-300 hover:scale-95;
  }

  .button.is-small {
    @apply w-36 h-9 text-xs;
  }

  .button.is-medium {
    @apply w-48 h-12 text-base;
  }

  .button.is-large {
    @apply w-60 h-15 text-xl;
  }

  .button.is-sky {
    @apply bg-sky-500 text-white hover:bg-sky-200 hover:text-black;
  }

  [data-readable] {
    @apply opacity-0 transform-[translateY(12px)] transition-all duration-300;
    will-change: opacity, transform;
  }

  [data-readable].is-inview {
    opacity: 1;
    transform: none;
  }

  @media (prefers-reduced-motion: reduce) {
    [data-readable] {
      @apply: opacity-1 transform-none transition-none;
    }
  }
}
