@import "tailwindcss";

@layer base {
  :root {
    --scroll-offset: 0;
  }

  :target {
    scroll-margin-block-start: var(--scroll-offset);
  }

  body {
    font-family: "\"Noto Sans JP\"", "\"游ゴシック\"", "\"Yu Gothic\"", sans-serif;
  }
}

@layer layout {
  .header {
    @apply fixed top-0 z-1000 w-1/1 h-20 lg:h-24 bg-transparent lg:hover:bg-white text-white lg:hover:text-black transition-all duration-300;
  }

  .header:not(.is-active) {
    @apply h-20 bg-transparent lg:bg-white text-white lg:text-black text-sm;
  }

  .header__inner {
    @apply max-w-6xl h-1/1 mx-auto px-6;
  }

  .nav {
    @apply flex flex-wrap items-center justify-between h-1/1;
  }

  .primary-menu, .social-menu {
    @apply hidden lg:flex flex-wrap items-center justify-between gap-9;
  }

  .primary-menu__item {
    @apply text-[1em] capitalize;

    a {
      @apply hover:text-sky-500;
    }
  }

  .primary-menu__item.is-current {
    @apply font-bold;
  }

  .social-menu__item {
    a {
      @apply hover:text-sky-500;
    }
    
    svg {
      @apply w-[2em] fill-current;
    }
  }

  .footer {
    @apply h-72 bg-sky-500 text-white;
  }

  .footer__inner {
    @apply flex flex-wrap items-center justify-center gap-6 max-w-6xl h-1/1 mx-auto px-6 py-24;
  }
}

@layer project {
  .sitebrand {
    @apply w-[5em] lg:w-[6em];
  }

  .hero {
    @apply relative flex items-center justify-center h-screen text-center;
  }

  .hero__content {
    @apply relative z-10;

    p {
      @apply text-white text-2xl/[1.8];
    }
  }

  .hero__image {
    @apply absolute w-1/1 h-1/1 bg-[url(/images/sampleImage.jpg)] bg-center bg-cover bg-fixed blur-[1px];
  }

  .section {
    @apply h-screen flex items-center justify-center;
  }

  .section:nth-child(2n - 1) {
    @apply bg-gray-500 text-white;
  }

  .section__heading {
    @apply text-2xl capitalize;
  }

  .footer-link {
    @apply inline-flex flex-wrap items-center justify-center gap-3 text-sm;

    svg {
      @apply w-9 fill-current;
    }
  }
}

@layer components {
  .button {
    @apply inline-flex items-center justify-center rounded-md transition-all duration-300 hover:scale-95;
  }

  .button.is-small {
    @apply w-36 h-9 text-xs;
  }

  .button.is-medium {
    @apply w-48 h-12 text-base;
  }

  .button.is-large {
    @apply w-60 h-15 text-xl;
  }

  .button.is-sky {
    @apply bg-sky-500 text-white hover:bg-sky-200 hover:text-black;
  }

  .icon {
    @apply relative block overflow-hidden transition-colors duration-300;
  }

  .icon.is-small {
    @apply w-6 h-6;
  }

  .icon.is-medium {
    @apply w-9 h-9;
  }

  .icon.is-large {
    @apply w-12 h-12;
  }

  .icon.is-rounded {
    @apply rounded-full;
  }

  .icon.is-sky {
    @apply bg-sky-500;

    .icon__span,
    .icon__span::before,
    .icon__span::after {
      @apply border-white;
    }
  }

  .icon.is-sky:hover {
    @apply bg-sky-200;

    .icon__span,
    .icon__span::before,
    .icon__span::after {
      @apply border-black;
    }
  }

  .icon__span {
    @apply relative block border-0 transition-colors duration-300;
  }

  .icon.is-menu .icon__span {
    @apply w-6/10 h-2/10 my-[40%] mx-[20%] border-y-2;
  }

  .icon.is-close .icon__span::before {
    content: "";
    @apply absolute block w-6/10 h-4/100 my-[48%] mx-[20%] border transform-[rotate(-45deg)] ;
  }

  .icon.is-close .icon__span::after {
    content: "";
    @apply absolute block w-6/10 h-4/100 my-[48%] mx-[20%] border transform-[rotate(45deg)] ;
  }

  .icon.is-chevron-up .icon__span {
    @apply w-3/10 h-3/10 m-[35%] border-t-2 border-s-2 transform-[rotate(45deg)] translate-x-1/10 translate-y-1/10;
  }

  .icon.is-chevron-down .icon__span {
    @apply w-3/10 h-3/10 m-[35%] border-e-2 border-b-2 transform-[rotate(45deg)] -translate-x-1/10 -translate-y-1/10;
  }

  .icon.is-chevron-left .icon__span {
    @apply w-3/10 h-3/10 m-[35%] border-s-2 border-b-2 transform-[rotate(45deg)] translate-x-1/10 -translate-y-1/10;
  }

  .icon.is-chevron-right .icon__span {
    @apply w-3/10 h-3/10 m-[35%] border-t-2 border-e-2 transform-[rotate(45deg)] -translate-x-1/10 translate-y-1/10;
  }

  .back-to-top {
    @apply fixed right-0 bottom-0 z-1000 block m-3 rounded-full opacity-0 transform-[rotateY(-180deg)] translate-y-4 transition-all duration-300 cursor-pointer;
  }

  .back-to-top.is-active {
    @apply opacity-100 transform-[rotate(0deg)] translate-y-0 
  }

  .drawer-navicon {
    @apply fixed top-0 right-0 z-1020 block lg:hidden m-3  opacity-0 transform-[rotateY(-180deg)] transition-all duration-300 cursor-pointer;
  }

  .drawer-navicon.is-active {
    @apply opacity-100 transform-[rotate(0deg)];
  }

  .drawer-close {
    @apply fixed top-0 right-0 z-1010 block lg:hidden m-3  opacity-0 transform-[rotateY(180deg)] transition-all duration-300 cursor-pointer;
  }

  .drawer-close.is-active {
    @apply opacity-100 transform-[rotate(0deg)];
  }

  .drawer-menu {
    @apply fixed top-0 right-0 z-1000 lg:hidden w-4/10 min-w-2xs max-w-sm h-1/1 bg-sky-500 text-white transition-all duration-300 delay-0;
  }

  .drawer-menu.is-collapsed {
    @apply w-0 min-w-0 delay-300;
  }

  .drawer-menu__inner {
    @apply flex flex-wrap flex-col items-center justify-center w-1/1 h-1/1 text-center capitalize opacity-100 transition-opacity duration-300 delay-300;
  }

  .drawer-menu__inner.is-hidden {
    @apply opacity-0 delay-0;
  }

  .drawer-menu__sitebrand {
    @apply w-24;
  }

  .drawer-menu__list {
    @apply w-1/1 my-3;
  }

  .drawer-menu__item > a {
    @apply inline-block w-1/1 p-3 hover:bg-sky-200 hover:text-black transition-colors duration-300;
  }

  .drawer-menu__list.is-social-menu {
    @apply flex flex-wrap items-center justify-center;

    svg {
      @apply w-9 fill-current;
    }
  }

  .drawer-menu-overlay {
    @apply fixed inset-0 z-900 w-1/1 h-1/1;
  }

  .drawer-menu-overlay.is-collapsed {
    @apply hidden;
  }

  [data-readable] {
    @apply opacity-0 transform-[translateY(12px)] transition-all duration-300;
    will-change: opacity, transform;
  }

  [data-readable].is-inview {
    opacity: 1;
    transform: none;
  }

  @media (prefers-reduced-motion: reduce) {
    [data-readable] {
      @apply: opacity-1 transform-none transition-none;
    }
  }
}
